body {
  font-family: "Oswald", sans-serif;
}

/* Header block */
.navbar {
  width: 100%;
  height: 70px;
}
.navbar .container {
  height: inherit;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  color: rgb(64, 64, 87);
  justify-content: center;
  /* align-items: center; */
}
.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display: inline-block;
  color: rgb(64, 64, 87);
  text-decoration: none;
  padding: 0 30px;
}
.navbar-logo {
  margin-left: 50px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: rgb(64, 64, 87);
}
.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 50px;
}

.navbar-menu ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  color: rgb(64, 64, 87);
  font-size: 60px;
  margin-top: 150px;
}

p {
  display: inline-block;
}

/* Main block*/

.main-block {
  flex-direction: column;
  margin: 50px 80px;
}

.img-block {
  background-image: url("./image/profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 389px;
  height: 459px;
  top: 200px;
  left: 65%;
  margin: -30px;
}


.submain-block {
  font-size: 20px;
  color: #2e363e;
  font-weight: 200;
  margin: 0;
}
.social-media {
  padding-top: 115px;
  color: #2e363e;
  margin: 0;
}

.social-m-icon {
  cursor: pointer;
  margin: 0;
}
svg{
  margin-left: 10px;
}

/* Skills block*/

.skills-block {
  background-color: #2e363e;
  color: white;
  width: 100%;
  height: 500px;
}

.skills-text {
  font-size: 65px;
  padding-top: 75px;
  margin-left: 80px;
  font-family: "Oswald", sans-serif;
}
.skills-text2 {
  color: #2e363e;
  font-size: 65px;
  padding-top: 75px;
  margin-left: 80px;
  font-family: "Oswald", sans-serif;
}

.skills-num {
  right: -50px;
  position: absolute;
  margin: -250px 400px;
  float: right;
  font-weight: 200;
}
.skills-num h5{
  font-weight: 200;
  font-size: 20px;

}

.skills-span {
  font-size: 30px;
  margin-right: 5px;
}

h5 {
  font-weight: 200;
  font-size: 20px;
  margin: -83px 80px 50px;
}
h4 {
  color: white;
  
}

/* Portfolio block */

.portfolio-block {
  color: rgb(64, 64, 87);
  margin-bottom: 20px;
  margin-top: -28px;
}

.product_card_container {
  margin: 0 200px 30px 80px;
  min-width: 600px;
  display: flex;
  background: #fff;
  border: 1px solid;
  border-color: #2e363e;
  border-style: solid;
}

.left {
  width: 500px;
  height: 500px;
  background-color: #2e363e;
}
.right {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-left: 250px;
  justify-content: center;
  color: #2e363e;
}
.product_title {
  font-size: 14px;
}
.item_category {
  font-style: 16px;
  color: var(--paragraph-color);
  letter-spacing: 4px;
  margin-left: 20px;
  text-transform: uppercase;
}
.product_title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
  margin: -25px 10px 10px 20px;
}
.product_desctiption {
  font-size: 15px;
  width: 250px;
  font-weight: 200;
  margin: -15px 0px 0px 20px;
}

.git-link {
  font-weight: bold;
  text-decoration: none;
  color: rgb(64, 64, 87);
  margin-left: 20px;
  font-size: 15px;
}

/* Footer block */

.footer__copy {
  margin-left: 80px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(64, 64, 87);
}
.footer__copy a {
  text-decoration: underline;
  color: inherit;
}
